:root {
	--rojo:  #F21B54;
	--fondo: #182540;
}
* {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
	align-items: none;
	min-height: 100vh;
}
.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}
header {
	padding: 30px 0;
}
header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color:  #F21B54;
	font-size: 40px;
}
header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
}
header nav a:hover,
header nav a.activo {
	color: #F21B54;
}

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/backdrop.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: flex-end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
	outline: none;
}

.pelicula-principal .boton:hover {
	background:#8c7f83;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}
/* ---- ----- ----- titulos ----- ----- ----- */
.contenedor-titulo {
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.contenedor-titulo h3 {
	color: #fff;
	font-size: 30px;
	padding: 0px 0px 20px;
	
}
/* ------------------------- */
/* splide */
/* ------------------------- */
.contenedor-flex{
	margin: 30px;
}
.splide{
	width: 100%;
	height: auto;
	background-position: center center;
	padding: 56px;
	background: #0d1322;
	
	margin-right:auto
}
/* .splide__track{
	
	height: 500px;
	margin: auto;
}*/
.splide__list{
	
	height: 200px;
	
	
	width: 100%;
	
}
.splide__slide img{
	padding: 3px;
	width: 100%;
	height: auto;
	margin: auto;
	cursor: pointer;
} 
.splide__slide p{
	
	text-align: center;
	color: #ccc;
	font-family: 'Open Sans', sans-serif;
} 
.my-slider-progress {
	background: #F21B54;
	
  }
  
.my-slider-progress-bar {
	background: #fff;
	height: 1px;	
	transition: width 400ms ease;
	width: 0;
  }

.contenedor-boton{
	max-width: 30px;
	height: 20hv;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .splide__arrow.splide__arrow--prev,
.splide__arrow.splide__arrow--next{
	width: 20px;
	height: 20px;
	background: crimson;
	border-radius: 2px;
	border:none;
	cursor:pointer;
	padding: 2px;
	color: white;
	font-size: 10px;
	transition: .3s ease all;
} */

/* ------------------------- */
/* Overlay */
/* ------------------------- */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: row-reverse;
}

.overlay.activo {
	display: flex;
}

.overlay img {
	max-width: 90%;
	display:flex ;
	position: center;
	width: 600px;
	
}
.overlay .texto {
	position: center;
	width: 900px;
	margin: 10px 40px;
	top: 0;
	bottom: 0;
	left: 30px;
	right: 30px;
	max-width: 100%;
	
}
.overlay .titulo {
	font-family: 'Open Sans', sans-serif;
	display: block;
	background: #462673;
	color: #fff;
	padding: 20px;
	margin: 5px;
	border-radius: 10px;
	max-width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 40px;

}
.overlay .descripcion {
	font-family: 'Open Sans', sans-serif;
	display: block;
	background: #462673;
	color: #fff;
	padding: 20px;
	margin: 5px;
	border-radius: 10px;
	max-width: 100%;
	text-align: left;
	font-size: 20px;
}
.overlay .t-topografico {
	font-family: 'Open Sans', sans-serif;
	display: block;
	color: #fff;
	margin: 5px;
	max-width: 100%;
	text-align:center;
	font-weight: bold;
	font-size: 20px;
}
.overlay .topografico {
	font-family: 'Open Sans', sans-serif;
	display: block;
	background: #462673;
	color: #fff;
	padding: 20px;
	margin: 5px;
	border-radius: 10px;
	max-width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

.overlay .video
{   border: none;
    max-width: 100%;
	position: center;
	width:850px;
	height:400px;
}
.contenedor-img {
	position:static;
}

.overlay #btn-cerrar-popup {
	background: none;
	font-size: 100px;
	color:#fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 200px;
	top: 100px;
}

/* ------------------------- */
/* Footer */
/* ------------------------- */
footer .redes-sociales {
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 20px;
	flex-wrap: wrap;
}

footer .redes-sociales a {
	display: block;
	width: 60px;
	height: 60px;
	background: #000;
	color: #fff;
	margin: 20px;
	text-align: center;
	border-radius: 100px;
	transition: .3s ease all;
}

footer .redes-sociales .twitter {background: #1da1f2;}
footer .redes-sociales .facebook {background: #3b5998;}
footer .redes-sociales .instagram {background: #c13584;}

footer .redes-sociales a i {
	font-size: 20px;
	line-height: 60px;
}

footer .contenedor-icono:hover a {
	animation: icono .5s ease;
}

@keyframes icono {
	from {
		transform: rotate3d(0,0,0,0);
	}
	to {
		transform: rotate3d(0,1,0, 360deg);
	}
}

footer .creado-por {
	margin-bottom: 40px;
	text-align: center;
	font-size: 14px;
	color: #c13584;
}

footer .creado-por a {color: #fff;}
footer .creado-por a:hover {text-decoration: underline;}
/* ------------------------- */
/* Mediaqueries */
/* ------------------------- */
@media screen and (max-width: 1260px) {
	.carousel .carousel1_contenedor{
		width: calc(10% - 20px);
	}
	.overlay .texto{
		width: calc(50% - 20px);
	}
	.overlay .texto .descripcion,
	.overlay .texto .titulo,
	.overlay .texto .topografico{
		font-size: 10px;
		padding: 10px;
	}
	.overlay .texto .t-topografico{
		font-size: 20px;
		padding: none;
	}
	.overlay .texto .video{
		width: calc(95% - 20px);
		
	}
	.overlay .contenedor-img{
		width: calc(30% - 20px);
	}
	.overlay #btn-cerrar-popup {
		background: none;
		font-size: 50px;
		right: 100px;
		top: 50px;
	}
	
	header .barra-busqueda {
		width: 80%;
	}
	
	
}